
@{
    ViewData["Title"] = "AddFile";
}

<h2>AddFile</h2>
<h2>hey @ViewBag.UserName</h2>
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="text" name="Topic" placeholder="Pic Topic"/><br>
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>

