body {
    background-color: #EFEFEF;
}

.PhotoInfo {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
}

    .PhotoInfo:hover div {
        visibility: visible;
        cursor: zoom-in;
    }

.PhotoInfo:hover button {
    visibility: visible;
    transform: scale(1.2);
}

.ImgInfo {
    max-width: 100%;
    max-height: 90vh;
    position: relative;
    border-radius: 12px;
}

.ImgInfo:hover{
    cursor:pointer;
}

.mainContainerInfo {
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    border-radius: 12px;
    padding: 5px 5%;
}

.like-button {
    font-size: 1.1vw;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 2px #5F5F5F;
    color: #B8B8B8;
    transition: all 0.3s ease;
}

    .like-button:hover {
        transform: scale(1.2);
        color: #F06875;
        border: solid 2px #F06875;
    }

/*this is colum*/
.masonry-layout {
    column-count: 4;
    column-gap: 0;
}

.masonry-layout__panel {
    break-inside: avoid;
    padding: 5px;
}

.masonry-layout__panel-content {
    padding:0 5px 0 5px;
    border-radius: 14px;
}

/*This*/

.photo {
    width: 100%;
    height: 17vw;
    border-radius: 12px;
    background-color: #D3D3D3;
    vertical-align: middle;
    text-align: center;
    line-height: 17vw;
}

    .photo:hover {
        background-color: #ffffff;
        cursor: pointer;
    }

    .photo span:hover {
        color: forestgreen;
    }

    .photo span {
        color: red;
        font-size: 3vw;
    }

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
}

    #drop-area.highlight {
        border-color: purple;
    }

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

    #gallery img {
        max-width: 430px;
        margin-bottom: 10px;
        vertical-align: middle;
    }

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

    .button:hover {
        background: #ddd;
    }

#fileElem {
    display: none;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.7;
    top: 0;
    visibility: hidden;
    border-radius: 12px;
    }

#edit {
    font-size: 2vw;
    position: absolute;
    left: 20%;
    top: 5%;
    visibility: hidden;
}

    #edit:hover {
        cursor: pointer;
    }

#SaveInMyBoards {
    font-size: 2vw;
    position: absolute;
    left: 5%;
    top: 5%;
    visibility: hidden;
}

    #SaveInMyBoards:hover {
        cursor: pointer;
    }

#download {
    font-size: 2vw;
    position: absolute;
    left: 80%;
    top: 5%;
    visibility: hidden;
}

    #download:hover {
        cursor: pointer;
    }

#remove {
    font-size: 2vw;
    position: absolute;
    left: 5%;
    top: 5%;
    visibility: hidden;
}

    #remove:hover {
        cursor: pointer;
    }

.PhotoInfo:hover #download  {
    color: #ffffff;
    opacity: 1;
    visibility: visible;
}

.PhotoInfo:hover #remove {
    color: #ffffff;
    opacity: 1;
    visibility: visible;
}

.PhotoInfo:hover #SaveInMyBoards {
    color: #ffffff;
    opacity: 1;
    visibility: visible;
}

.PhotoInfo:hover #edit {
    color: #ffffff;
    opacity: 1;
    visibility: visible;
}

.picItem {
    line-height: 48px;
}

.picItem button {
    visibility: hidden;
}

    .picItem:hover {
        background-color: #D3D3D3;
    }

.picItem:hover button {
    visibility: visible;
}